
		<!-- Modal confirmation depense crédits -->
		<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="confirmationModalLabel">Confirmation</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
					<button type="button" class="btn btn-primary" id="confirmButton">Confirmer</button>
				</div>
				</div>
			</div>
		</div>
		<!-- Modal crédits insufisant -->
		<div class="modal fade" id="lowCreditModal" tabindex="-1" aria-labelledby="lowCreditModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header bg-danger">
						<h1 class="modal-title fs-5" id="lowCreditModalLabel">Crédits Insuffisants</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body p-4">
						Il semble que vous n'ayez pas assez de crédits pour réaliser cette action. Pour continuer à utiliser nos services sans interruption, veuillez recharger votre compte.
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
						<a href="{{ path('app_tableau_de_bord_candidat_tarifs_standard')}}" class="btn btn-primary" id="confirmButton">Recharger Maintenant</a>
					</div>
				</div>
			</div>
		</div>
        <!-- Bouton pour déclencher le modal, habituellement caché -->
        <button id="lowCreditModalTrigger" type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#lowCreditModal"></button>