<div class="paralax order-design">
  {% include "coworking/_nav.html.twig" %}
  <div class="main-content-min">
    <div class="container">
      <!-- Content Section -->
      <div class="row">
        <div class="col-12 col-sm-8 mx-auto text-center">
          <h1 class="display-4 fw-bolder">Mes commandes</h1>
        </div>
      </div>
      <!-- Social Links and Address Section in Line -->
      <div class="row">
        <div class="col-md-6 d-flex align-items-center justify-content-center">
          <!-- Social links -->
          <ul class="list-inline">
            <li class="list-inline-item">
              <a class="text-white text-opacity-75 text-primary-hover" target="_blank" href="https://www.linkedin.com/company/emploi-madagascar/posts?lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3BiwUwllhjTX2REM32%2BAYkfQ%3D%3D">
                <i class="bi bi-linkedin"></i>
              </a>
            </li>
            <li class="list-inline-item ms-3">
              <a class="text-white text-opacity-75 text-primary-hover" target="_blank" href="https://www.facebook.com/olonatalents">
                <i class="bi bi-facebook"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 small">
          <!-- Address -->
          <p class="font-serif text-white text-opacity-75 text-md-end">
            <i class="bi bi-geo-alt-fill"></i> Ambatonakanga, Antananarivo, Madagascar
          <br>
            <i class="bi bi-clock-history"></i>
            Lundi au Vendredi de 8h à 18h
          <br>
            Week-end - Privatisation uniquement
            <br>
            <i class="bi bi-phone"></i><a href="tel:+261320373432">+261 32 03 734 32</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>