{% extends 'base.html.twig' %}

{% block title %}Hello ModerateurController!{% endblock %}

{% block body %}

<div class="container mt-4">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/rochel/Documents/laboOlona/src/Controller/Ajax/ModerateurController.php'|file_link(0) }}">src/Controller/Ajax/ModerateurController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/rochel/Documents/laboOlona/templates/ajax/moderateur/index.html.twig'|file_link(0) }}">templates/ajax/moderateur/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
