
{% if id == 'reservationForm' %}
  
  <turbo-stream action="update" target="reservationForm">
      <template>
          <div class="card border-success bg-dark text-white mb-3">
              <div class="card-body p-5">
                <h5 class="card-title">Réservation enregistrée</h5>
                <p class="card-text">Merci, votre réservation a été enregistrée avec succès. Nous vous contacterons bientôt pour confirmer les détails.</p>
              </div>
            </div>
      </template>
  </turbo-stream>
  
{% elseif id == 'contactForm' %}

  <turbo-stream action="update" target="contactForm">
      <template>
          <div class="card border-success bg-body-tertiary text-dark mb-3">
              <div class="card-body p-5">
                <h5 class="card-title">Message envoyé</h5>
                <p class="card-text">Merci, votre message a été envoyé avec succès. Nous vous contacterons bientôt pour vous répondre.</p>
              </div>
            </div>
      </template>
  </turbo-stream>
  
{% elseif id == 'contractForm' %}

  <turbo-stream action="update" target="contractForm">
      <template>
          <div class="card border-success bg-body-tertiary text-white mb-3">
              <div class="card-body p-5">
                <h5 class="card-title">Votre contrat a été bien enregistré.</h5>
                <p class="card-text">Merci, votre souscription a été enregistré avec succès. Nous vous contacterons bientôt pour la signature de votre contrat.</p>
              </div>
            </div>
      </template>
  </turbo-stream>

{% elseif id == 'contractFormStep' %}

  <turbo-stream action="update" target="contractFormStep">
      <template>
          <div class="card border-success bg-body-tertiary text-dark mb-3">
              <div class="card-body p-5">
                <h5 class="card-title">Votre contrat a été bien enregistré.</h5>
                <p class="card-text lead">Merci, votre souscription a été enregistré avec succès. Nous vous contacterons bientôt pour la signature de votre contrat.</p>
              </div>
            </div>
      </template>
  </turbo-stream>
  
{% endif %}
  