{% extends 'white_label/client1/base.html.twig' %}

{% block title %}Modifier employé{% endblock %}
{% block page_title %}Modifier employé{% endblock %}


{% block body %}
<section class="p-0 m-0">
    <div class="container">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center">
            <h1 class="h3">Modifier employé</h1>

            {{ include('white_label/client1/admin/finance_employe/_form.html.twig', {'button_label': 'Update'}) }}

            <div class="d-flex justify-content-end w-100">
                {{ include('white_label/client1/admin/finance_employe/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
