{% extends 'white_label/client1/base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}
{% block page_title %}Tableau de bord{% endblock %}


{% block body %}

<div class="container mt-4">
    <h1>Hello {{ user.prenom }}! 🙂</h1>
</div>

{% endblock %}
