
{% extends 'dashboard/base.html.twig' %}

{% block body %}
<section class="p-0 m-0">
    <div class="container">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center">
            <h1 class="h3">Graphique des logs utilisateurs</h1>
            {{ form_start(form, {'attr': {'data-turbo':'false'}}) }}
            <div class="input-group my-3">
                {{ form_widget(form.url, {'attr': {'class': 'form-control', 'placeholder': 'Entrez une URL', 'aria-label': 'URL', 'aria-describedby': 'button-addon2'}}) }}
                <button class="btn btn-sm btn-primary px-5" id="button-addon2">Visualiser</button>
            </div>
            {{ form_end(form) }}
            

            {% if chart %}
                <div style="margin-top: 30px;">
                    {{ render_chart(chart) }}
                </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}