<header class="header-home">
    <div class="page-content">
        <div class="home-banner-section bg-cover" style="background-image:url({{ asset('v2/images/coworking-olona-talents.webp')}})">
            <div class="home-inner-section">
                <div class="mid-section">
                    <div class="title-large">Devenez <span>indépendant</span>, sans sacrifier votre sécurité</div>
                    <div class="title-light">Le portage salarial par Olona Talents : alliez liberté, protection et sérénité.</div>
                    <div class="btn-signUp">
                        <a href="{{path('app_coworking_main')}}#contactForm" class="btn btn-primary">Obtenez un devis personalisé</a>
                    </div>
                    <div class="popular-search">
                        <span class="ot-title"><i class="bi bi-pin"></i> Ambatonakanga, Antananarivo, Madagascar</span>
                    </div>
                </div>
                <div class="bottom-section">
                    <div class="blocks-wrap">
                        <!--link-1-->
                        <div class="blocks blocks-position-1">
                            <a class="btn-primary btn-social-item" target="_blank" href="https://www.linkedin.com/company/emploi-madagascar/posts?lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3BiwUwllhjTX2REM32%2BAYkfQ%3D%3D">
                                <i class="bi bi-linkedin"></i>
                            </a>
                        </div>
                        <!--link-2-->
                        <div class="blocks blocks-position-2">
                            <a class="btn-primary btn-social-item" target="_blank" href="https://www.facebook.com/olonatalents">
                                <i class="bi bi-facebook"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>