{% include "mails/_header.html.twig" %}
            <p>Bonjour Modérateur,</p>
            <p>Nouvelle entrée sur le formulaire de contact <strong>Olona-talents.com</strong> ! </p>
            <div style="background-color: #FFF3E0; padding: 15px; margin: 20px 0; border-radius: 5px; font-weight: 500;">
                <p><span style="font-weight: 700;">Titre :</span> {{ user.titre }}</p>
                <p><span style="font-weight: 700;">Email :</span> {{ user.email }}</p>
                <p><span style="font-weight: 700;">Téléphone :</span> {{ user.numero }}</p>
                <p><span style="font-weight: 700;">Message :</span> {{ user.message|raw }}</p>
            </div>
            
{% include "mails/_footer.html.twig" %}