{% include "mails/_header.html.twig" %}
            <p>Bonjour</p>
            <p>Nous sommes ravis de vous accueillir dans notre communauté ! Vous avez été spécialement sélectionné(e) pour rejoindre la plateforme <strong>Olona-talents.com</strong> ! 🚀, un espace conçue pour aligner les besoins des entreprises avec le potentiel des talents du bassin indien.</p>
            <p>Pour activer votre compte, il vous suffit de créer un mot de passe. C'est rapide et simple !</p>
            <p>
                👉 <a href="{{ dashboard_url|raw }}" style="text-decoration: none;">Créer mon mot de passe</a>
            </p>
            <p>Cliquez sur le bouton ci-dessus pour accéder directement à la page où vous pourrez définir votre mot de passe personnel. Une fois votre mot de passe créé, vous aurez accès immédiatement à toutes les fonctionnalités et opportunités que Olona Talents a à offrir.</p>
            <p>Nous sommes impatients de vous voir tirer le meilleur parti de notre plateforme et de contribuer à votre succès.</p>
            <p>À bientôt sur <strong>Olona-talents.com</strong> !</p>
{% include "mails/_footer.html.twig" %}