{% include "mails/_header.html.twig" %}
            <p>Bonjour {{ user.prenom }},</p>
            <p>Nous avons le plaisir de vous informer que votre profil a été validé  et desormais certifé par <strong>Olona-talents.com</strong>.</p>
            <p>Vous pouvez bénéficier de tous les avantages que cela vous procure dans vos recherches de mission</p>
            
            <p>
                👉 <a href="{{ dashboard_url|raw }}" style="text-decoration: none;">Connectez-vous à votre compte ici</a> et découvrez des opportunités sur-mesure pour vous !    
            </p>
            <p>Bonne chance dans vos recherches et n'hésitez pas à <span style="font-weight: 700;">nous contacter</span> si vous avez des questions ou besoin d'aide.</p>
            
{% include "mails/_footer.html.twig" %}