{% extends 'tableau_de_bord/base_entreprise.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

    <div class="loader-container" id="loader-container" style="display:none;">
        <span class="loader"></span>
    </div>

    <section class="">
        <div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
            <h5 class="mb-0"> Entreprise </h5>
            <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
                <li class="breadcrumb-item position-relative">
                    <a routerlink="{{ path('app_tableau_de_bord_entreprise')}}" class="d-inline-block position-relative" href="{{ path('app_tableau_de_bord_entreprise')}}">
                    <i class="ri-home-8-line"></i> Tableau de bord </a> 
                </li>
                <li class="breadcrumb-item position-relative"> Offre d'emploi </li>
            </ol>
        </div>
    </section>
    <section class="recruteur-container">
        <div class="recruteur-block d-block p-5 mb-4">
            <div class="offre-emploi-item d-flex align-items-center justify-content-between">
                <div>
                    <h1>Liste des offres d'emploi</h1>
                    <p>Vous avez 3 offres d'emploi encore ouvert</p>
                </div>
                <a href="{{ path('app_tableau_de_bord_entreprise_publier_une_annonce')}}" class="btn btn-primary">Créer une annonce</a>
                {#{ dump(offres) }#}
            </div>
            <div class="offre-emploi-list">
                <div class="row">
                    <div class="col-xl-8">
                        <article class="article-item_">
                            <div class="detail_annonce_">
                                <h2><a href="" class="btn-primary">Chargé de la relation client/fournisseurs</a></h2>
                                <h3><a href="" class="btn-primary">SOCIETE</a></h3>
                                <div class="type_contact_">Contrat CDI</div>
                                <div class="description_courte_">
                                    Je rends concret ce qui a été vendu par votre service commercial ou le business developer. En parallèle, je suis un observatoire pour votre service marketing. Le cœur de mon métier consiste à gérer la communication avec vos clients et/ou fournisseurs. L'objectif est de créer un climat de confiance et bénéficier d'une publicité hyper efficace via le bouche-à-oreille.
                                </div>
                                <div class="info_publication_">
                                    <span class="small fw-light">
                                        <span class="badge rounded-pill px-2 text-bg-danger">Validée</span>
                                        <span class="badge rounded-pill px-2 text-bg-success">Ouvert</span>
                                        <span class="small text-center mx-2">|</span>
                                        <span class="">Publié
                                            il y a 2 semaines</span>
                                        <span class="small text-center mx-2">|</span>
                                        <i class="bi bi-eye"></i> 11 vues
                                        <span class="small text-center mx-2">|</span>
                                        <i class="mx-2 bi bi-person-workspace"></i> DISTANCE
                                    </span>
                                </div>
                            </div>
                        </article>
                        <article class="article-item_">
                            <div class="col-md-9 aside-right-item_">
                                <div class="detail_annonce_">
                                    <h2><a href="" class="btn-primary">Chargé de la relation client/fournisseurs</a></h2>
                                    <h3><a href="" class="btn-primary">SOCIETE</a></h3>
                                    <div class="type_contact_">Contrat CDI</div>
                                    <div class="description_courte_">
                                        Je rends concret ce qui a été vendu par votre service commercial ou le business developer. En parallèle, je suis un observatoire pour votre service marketing. Le cœur de mon métier consiste à gérer la communication avec vos clients et/ou fournisseurs. L'objectif est de créer un climat de confiance et bénéficier d'une publicité hyper efficace via le bouche-à-oreille.
                                    </div>
                                    <div class="info_publication_">
                                        <span class="small fw-light">
                                            <span class="badge rounded-pill px-2 text-bg-danger">Validée</span>
                                            <span class="badge rounded-pill px-2 text-bg-success">Ouvert</span>
                                            <span class="small text-center mx-2">|</span>
                                            <span class="">Publié
                                                il y a 2 semaines</span>
                                            <span class="small text-center mx-2">|</span>
                                            <i class="bi bi-eye"></i> 11 vues
                                            <span class="small text-center mx-2">|</span>
                                            <i class="mx-2 bi bi-person-workspace"></i> DISTANCE
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="article-item_">
                            <div class="detail_annonce_">
                                <h2><a href="" class="btn-primary">Chargé de la relation client/fournisseurs</a></h2>
                                <h3><a href="" class="btn-primary">SOCIETE</a></h3>
                                <div class="type_contact_">Contrat CDI</div>
                                <div class="description_courte_">
                                    Je rends concret ce qui a été vendu par votre service commercial ou le business developer. En parallèle, je suis un observatoire pour votre service marketing. Le cœur de mon métier consiste à gérer la communication avec vos clients et/ou fournisseurs. L'objectif est de créer un climat de confiance et bénéficier d'une publicité hyper efficace via le bouche-à-oreille.
                                </div>
                                <div class="info_publication_">
                                    <span class="small fw-light">
                                        <span class="badge rounded-pill px-2 text-bg-danger">Validée</span>
                                        <span class="badge rounded-pill px-2 text-bg-success">Ouvert</span>
                                        <span class="small text-center mx-2">|</span>
                                        <span class="">Publié
                                            il y a 2 semaines</span>
                                        <span class="small text-center mx-2">|</span>
                                        <i class="bi bi-eye"></i> 11 vues
                                        <span class="small text-center mx-2">|</span>
                                        <i class="mx-2 bi bi-person-workspace"></i> DISTANCE
                                    </span>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
