{% extends 'dashboard/base.html.twig' %}

{% block title %}Modifier une invitation{% endblock %}

{% block paralax %}{% endblock %}

{% block body %}
<section class="p-0 m-0">
    <div class="container">
          <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center">
            <h1 class="h3">Modifier une invitation</h1>
            {{ include('moderateur/invitation/_form.html.twig', {'button_label': 'Modifier'}) }}
            <div class="d-flex justify-content-end w-100">
                {{ include('moderateur/invitation/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
