{% extends 'dashboard/base.html.twig' %}

{% block title %}Edit ContestEntry{% endblock %}

{% block body %}
<section class="p-0 m-0">
    <div class="container">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center">
            <h1 class="h3">Modifier une entrée de concours</h1>

            {{ include('moderateur/contest_entry/_form.html.twig', {'button_label': 'Update'}) }}

            <div class="d-flex justify-content-end w-100">
                {{ include('moderateur/contest_entry/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
