<div class="paralax product-design">
  {% include "coworking/_nav.html.twig" %}
  <div class="d-flex align-items-center justify-content-center vh-100">
    <div class="row w-100">
      <div class="col-12 col-sm-8 mx-auto text-center">
        <h1 class="display-1 fw-bolder">Boissons</h1>
      </div>
    </div>
  </div>
</div>