<div class="paralax product-design">
  {% include "coworking/_nav.html.twig" %}
  <div class="main-content">
    <div class="container">
      <!-- Content Section -->
      <div class="row">
        <div class="col-12 col-sm-8 mx-auto text-center">
          <h1 class="display-1 fw-bolder">Produits</h1>
          <p class="lead my-4">Explorez notre sélection exclusive de boissons conçues pour améliorer votre expérience de coworking.</p>
          <button type="button" class="btn btn-outline-warning px-5">Prendre une reservation</button>
        </div>
      </div>
      <!-- Social Links and Address Section in Line -->
      <div class="row">
        <div class="col-md-6 d-flex align-items-center justify-content-center">
          <!-- Social links -->
          <ul class="list-inline">
            <li class="list-inline-item">
              <a class="text-white text-opacity-75 text-primary-hover" target="_blank" href="https://www.linkedin.com/company/emploi-madagascar/posts?lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3BiwUwllhjTX2REM32%2BAYkfQ%3D%3D">
                <i class="bi bi-linkedin"></i>
              </a>
            </li>
            <li class="list-inline-item ms-3">
              <a class="text-white text-opacity-75 text-primary-hover" target="_blank" href="https://www.facebook.com/olonatalents">
                <i class="bi bi-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item ms-3">
              <a class="text-white text-opacity-75 text-primary-hover" href="#">
                <i class="bi bi-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <!-- Address -->
          <p class="font-serif text-white text-opacity-75 text-md-end my-md-5">
            <i class="bi bi-geo-alt-fill"></i> Ambatonakanga, Antananarivo, Madagascar
          </p>
        </div>
      </div>
    </div>
  </div>
</div>