{% extends 'dashboard/base.html.twig' %}
{% block title %}Nouvelle transaction{% endblock %}

{% block body %}
<section class="p-0 m-0">
    <div class="container">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center">
            <div class="row mb-3">
                <h2>Nouvelle transaction</h2>

                {{ form_start(form)}}
                {{ form_widget(form) }}
                <button class="btn btn-primary">Enregistrer</button>
                {{ form_end(form)}}
            </div>
        </div>
    </div>
</section>
{% endblock %}

