{% extends 'white_label/client1/base.html.twig' %}

{% block title %}Créer une annonce{% endblock %}

{% block body %}
<section class="p-0 m-0">
    <div class="container">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center">
            <h1 class="h3">Créer une annonce</h1>
            <hr>
            {{ include('white_label/client1/admin/job_listing/_form.html.twig') }}
        </div>
    </div>
</section>
{% endblock %}
