{% extends 'white_label/client1/base.html.twig' %}

{% block title %}Nouvel employé{% endblock %}
{% block page_title %}Nouvel employé{% endblock %}


{% block body %}
<section class="p-0 m-0">
    <div class="container">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center">
            <h1 class="h3">Créer un employé</h1>

            {{ include('white_label/client1/admin/employe/_form.html.twig') }}
        </div>
    </div>
</section>
{% endblock %}
