{% extends 'dashboard/base.html.twig' %}

{% block title %}Modifier un abonnement{% endblock %}

{% block body %}
<section class="p-0 m-0">
    <div class="container">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center">
            <div class="row mb-3">
                <h1 class="h3">Modifier un abonnement</h1>

                {{ include('moderateur/subcription/_form.html.twig', {'button_label': 'Update'}) }}
    
                <div class="d-flex justify-content-end w-100">
                    {{ include('moderateur/subcription/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
