{% include "mails/_header.html.twig" with {'title':'Candidature annnonce'} %}   
            <p>Bonjour {{user.nom}} </p>
            <p>Nous souhaitons vous informer que le depôt de votre candidature sur <strong>olona-talents.com</strong> a été pris en compte et en cours d'examen.</p>
            <p>Voici le détails :</p>
            <p><strong>Titre</strong> : {{ details_annonce.titre|raw }}</p>
            <p><strong>Date d'expiration</strong> : {{ details_annonce.dateExpiration|date('d/m/Y') }}</p>
            <p>
                👉 <a href="{{ dashboard_url|raw }}" style="text-decoration: none;">Voir l'annonce</a>
            </p>
            
{% include "mails/_footer.html.twig" %}