{% extends 'white_label/client1/base.html.twig' %}

{% block title %}CSV Upload{% endblock %}
{% block page_title %}CSV Upload{% endblock %}


{% block body %}

<div class="container mt-4">
    <h1>Importer un CV</h1>
    {{ form_start(form, {'attr': {'class': 'white-label-form'}})}}
    {{ form_widget(form)}}
    <button class="btn btn-primary">Importer</button>
    {{ form_end(form)}}
</div>
{% endblock %}
