{% extends 'white_label/client1/base.html.twig' %}

{% block title %}Administration{% endblock %}
{% block page_title %}Administration{% endblock %}


{% block body %}


<div class="container mt-4">
    <h1>Hello {{ app.user.prenom }}! 🙂</h1>
    <section class="visibility_p d-md-flex bp_">
        <div class="biographie-profil mb-4 p-4 apparition_">
            <strong>Total utilisateurs</strong>
            <div class="d-flex align-items-center">
            50
            </div>
        </div>
        <div class="biographie-profil mb-4 p-4 vu_">
            <strong>Nombre de CV</strong>
            <div class="d-flex align-items-center">
            0
            </div>
        </div>
        <div class="biographie-profil mb-4 p-4 mission_">
            <strong>Total annonces</strong>
            <div class="d-flex align-items-center">
            0
            </div>
        </div>
    </section>
</div>

{% endblock %}
