{% extends 'moderateur/base.html.twig' %}

{% block title %}Nouvelle source marketing{% endblock %}

{% block body %}
    <h1 class="h3">Créer une Source</h1>

    {{ include('marketing/source/_form.html.twig') }}

{% endblock %}
