{% extends 'base_coworking.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block paralax %}{% endblock %}

{% block admin %}
  {% if is_granted('ROLE_ADMIN') %}
    {{ parent() }}
  {% endif %}
{% endblock %}
{% block body %}
<section class="p-0 m-0">
    <div class="container my-5">
        <div class="row p-5 align-items-center rounded-3 border shadow-lg">
            <h1 class="h3">Nouvelle catégorie</h1>

            {{ include('coworking/category/_form.html.twig') }}
            <div>
                <a class="btn btn-primary my-3 px-5 rounded-pill" href="{{ path('app_coworking_category_index') }}"><i class="bi me-2 bi-arrow-left"></i>Retour à la liste</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
