

{% extends 'base_error.html.twig' %}

{% block title %}Page Introuvable{% endblock %}

{% block body %}
<div class="section-full error_page">
    <div class="container">
        <div class="ot-error-wrap">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="ot-error-image">
                        <img src="{{ asset('images/page-not-exist.png')}}" alt="Page 404" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="ot-error-content">
                        <h2 class="ot-error-title">404</h2>
                        <h4 class="ot-error-title2 site-text-primary">Nous sommes désolés, la page que vous recherchez semble introuvable</h4>
                        <p>Il se pourrait qu'elle ait été déplacée, renommée, ou qu'elle n'existe tout simplement pas.</p>
                        <a href="{{ path('app_home')}}" class="btn btn-primary site-button">Aller à l'accueil</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block preview %}{% endblock %}