
{% extends 'base_error.html.twig' %}

{% block title %}Erreur Interne du Serveur{% endblock %}

{% block body %}
<div class="section-full error_page">
    <div class="container">
        <div class="ot-error-wrap">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="ot-error-image">
                        <img src="{{ asset('images/system-offline.png')}}" alt="Page 500" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="ot-error-content">
                        <h2 class="ot-error-title">500</h2>
                        <h4 class="ot-error-title2 site-text-primary">Nous sommes désolés, quelque chose semble ne pas fonctionner correctement</h4>
                        <p>Une erreur interne du serveur s'est produite, et nous ne pouvons pas afficher la page que vous recherchez.</p>
                        <a href="{{ path('app_home')}}" class="btn btn-primary site-button">Aller à l'accueil</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block preview %}{% endblock %}