{% if id == 'user' %}
    <turbo-stream action="append" target="error">
        <template>
            <div class="alert alert-danger alert-dismissible fade show my-4" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </template>
    </turbo-stream>
{% endif %}

{% if id == 'newUser' %}
    <turbo-stream action="append" target="newUser">
        <template>
            <div class="alert alert-danger alert-dismissible fade show my-4" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </template>
    </turbo-stream>
{% endif %}