{% extends 'white_label/client1/base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}
{% block page_title %}Modifier mon mot de passe{% endblock %}


{% block body %}
<div class="biographie-profil mb-4 p-4 mjr_mdp">
    <h2>Modifier mon mot de passe</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary px-5">Modifier</button>
    {{ form_end(form) }}
</div>
{% endblock %}
